.contentWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--variant-outlinedColor);
  padding: 30px;
}
.box {
  width: 100%;
}

.choiceCards {
  width: 300px;
  height: 200px;
  padding: 14px;
  border-radius: 12px;
}

.choiceLabel {
  display: block;
  margin: 16px 0 8px;
  font-weight: 700;
  color: #7a660c;
}
